#main-navbar{
  overflow: hidden;   
  background-color: blue;  
}

#navbar-container{
  float: left;  
  width: 100%; 
  position: relative;
}

#main-navbar ul{
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li{
  float: left;
  position: relative;
  display: block;
  right: 50%;
  list-style-type: none; 
  text-decoration: none;
}

#navbar-container ul li a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

#navbar-container ul li a:hover{
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
}


#sidebar{
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container ul{
  padding: 0;
  text-align: center;
}

#sidebar-container ul li{
  list-style-type: none;   
  text-decoration: none; 
}

#sidebar-container ul li a{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px 0;
}

#sidebar-container ul li a:hover{
  background-color: #000;
}